@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    overflow: hidden;
}
.main{
    width: 100%;
    height: 100vh;
    background: url(img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
/*    position: relative;*/
}
.heading{
    width: 100%;
    background-color: #000;
    color: #fff;
}
.heading h1{
    font-size: 3em;
    text-align: center;
    letter-spacing: 40px;
    animation: animate 2s linear infinite;
}
.content{
    width: 500px;
    height: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
}
.content .links{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.content .links a{
    text-decoration: none;
    color: #000;
    font-size: 2em;
    position: relative;
    top: 10%;
    width: 100%;
    height: 100px;
    padding: 20px;
    transition: 0.5s;
    display: inline-flex;
    text-align: center;
    justify-content: center;
}
/*
.content .links h1{
    margin: 10px 0;
    text-align: center;
}
*/
.content .links a:hover{
    color: #fff;
}
.content .links a:before{
    content: '';
    position: absolute;
    left: 0;
    width: 0;
    height: 100px;
    background: url(img/back1.png);
/*    background-size: cover;*/
    background-position: center;
    background-repeat: no-repeat;
    transform-origin: left;
    transition: 0.5s;
}
.content .links a:hover:before{
    width: 100%;
}
.content .links a span{
    position: relative;
    z-index: 1;
    top: 50%;
    transform: translateY(-20%);
}
.pics{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;
}
.pics .box{
    position: relative;
    width: 300px;
    height: 200px;
    transform-style: preserve-3d;
    animation: animate1 20s linear infinite;
}
.pics .box span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i) * 45deg)) translateZ(400px);
    -webkit-box-reflect: below 0px linear-gradient(transparent, transparent, #0004);
}
.pics .box span img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.invitation{
    margin: 0;
    padding: 0;
    background: #302929;
}
.invitation .wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.invitation .wrapper .mail{
    width: 500px;
    height: 300px;
    background: #ff8789;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: relative;
    transform-style: preserve-3d;
    cursor: pointer;
}
.invitation .wrapper .mail:before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    border-left: 250px solid transparent;
    border-right: 250px solid #ff393c;
    border-top: 150px solid transparent;
    border-bottom: 150px solid #ff393c;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 5;
    
}
.invitation .wrapper .mail:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-left: 250px solid #ff5355;
    border-right: 250px solid transparent;
    border-top: 150px solid transparent;
    border-bottom: 150px solid #ff5355;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 4;
    
}
.invitation .wrapper .mail .cover:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-left: 250px solid transparent;
    border-right: 250px solid transparent;
    border-top: 150px solid #ff8789;
    border-bottom: 150px solid transparent;
    transform-origin: top;
    transform: rotateX(0deg);
    transition: all 1s 1s ease;
    z-index: 6;
}
.invitation .wrapper .mail .letter{
    position: absolute;
    top: 0;
    left: 10px;
    background: url(img/back2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 480px;
    height: 280px;
    border-radius: 20px;
    transition: all 1s ease;
    z-index: 3;
}
.invitation .wrapper .mail .letter h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: 'Pacifico', cursive;
    font-size: 20px;
    color: #000;
    font-weight: 900;
}
.invitation .wrapper .mail:hover .cover:before{
    transform: rotateX(180deg);
    transition: all 1s ease;
}
.invitation .wrapper .mail:hover .letter{
    top: -220px;
    transition: all 1s 1s ease;
}
@keyframes animate{
    0%{
        font-size: 3em;
    }
    50%{
        font-size: 3.5em;        
    }
    100%{
        font-size: 3em;        
    }
}
@keyframes animate1{
    0%{
        transform: perspective(1000px) rotateY(0deg);
    }
    100%{
        transform: perspective(1000px) rotateY(360deg);
    }
}